.page-header {
  position: relative;
}

.page-title {
  text-align: center;
}

.pages-navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.nav-page {
  display: flex;
  flex-direction: row;
}

.settings {
  position: absolute;
  right: 0;
  top: 0;
}

.word-cards-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.word-block {
  border: 1px solid gray;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin: 5px;
  overflow: auto;
  background-color: white;
}
