.page-header {
  text-align: center;
}

.pages-navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.nav-page {
  display: flex;
  flex-direction: row;
}
