.page-header {
  position: relative;
}

.pages-navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.nav-page {
  display: flex;
  flex-direction: row;
}

.settings {
  position: absolute;
  top: 0;
  right: 0;
}

.word-cards-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.err-mess {
  color: rgb(248, 9, 9);
}
