@import "../../styles/shadowedBlock";

.page-title {
  margin: 5px;
}

// ------------------------------

.dictionary-section-title {
  @include block(
    center,
    start,
    10px,
    #313133,
    700,
    1.2rem,
  );
}

.dictionary-section-title:hover {
  color: #3f51b5;
  border: 1px solid #3f51b5;
  box-shadow: 0 0 60px #3f51b5;
}
